* {
    /* Changing element into a border-box */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
/* Sets background colour to white */
    background-color: #d9dcd6;
}


.header {
/* Sets padding to 20px */
/* Sets background colour to #2a607c and the font colour to white */
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
/* Shows h1 elements inline, horizontally */
    display: inline-block;
/* Sets font size to 50px */
    font-size: 50px;
}

.header h1 .seo {
    color: #d9dcd6;
}

.header nav {
/* Navigation bar is displayed on the right */
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
/* Unordered list has no defined style */
    list-style-type: none;
}

.header nav ul li {
/* Navigation made to be displayed inline */
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
/* Paragraph font size to 16px */
    font-size: 16px;
}

.hero {
/* Height of hero image is made to 800px and width to be 100% of screen size */
/* Sets margin bottom to 25px */
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
/* Scales background size in order to fill container */
    background-size: cover;
    background-position: center;
}

.float-left {
/* Image position set to the left of container */
    float: left;
/* Margin is set to 25px */
    margin-right: 25px;
}

.float-right {
/* Image position set to the right of the container */
    float: right;
/* Margin is set to 25px */
    margin-left: 25px;
}

.content {
/* Width of the class content is set to 75% of the screen */
    width: 75%;
/* Content is displayed inline */
    display: inline-block;
/* Margin is set to 20px */
    margin-left: 20px;
}

.benefits {
/* Margin is set to 20px */
    margin-right: 20px;
    /* Padding is set to 20px */
    padding: 20px;
    clear: both;
    float: right;
/* Width is set to 20% of screen size */
    width: 20%;
    /* Height is set to 100% of screen size */
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-lead, .benefit-brand, .benefit-cost {
/* Margin bottom is set to 32px and font colour is now set to white */
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 {
/* Margin bottom is set to 10px and aligns text in the center of the container */
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
/* Margin bottom is set to 10px and aligns the text in the center of the container */
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
/* Margin bottom is set to 10px and aligns text in center of the container */
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img, .benefit-brand img, .benefit-cost img {
    display: block;
/* Top and bottom margin is set to 10px and centers image on horizontal axis of container */
    margin: 10px auto;
/* Sets maximum width of image to 150px */
    max-width: 150px;
}

.search-engine-optimization, .online-reputation-management, .social-media-marketing {
/* Margin bottom set to 20px */
    margin-bottom: 20px;
/* Padding is set all around to 50px */
    padding: 50px;
/* Height of container set to 300px */
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img, .online-reputation-management img, .social-media-marketing img {
/* Maximum height of image is set to 200px */
    max-height: 200px;
}

.search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2 {
/* Margin bottom is set to 20px */
    margin-bottom: 20px;
/* Font size of h2 set to 36px */
    font-size: 36px;
}

.footer {
/* Padding all around set to be 30px */
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* Text is aligned in center of page */
    text-align: center;
}

.footer h4 {
/* Font size of h4 element is set to 20px */
    font-size: 20px;
}
